html {
    text-align: center;
}

button {
    cursor: pointer;
}

.grid {
    display: grid;
}

.human {
    background-color: orange;
    width: 50%;
    min-width: 320px;
}

.computer {
    background-color: pink;
    width: 50%;
    min-width: 320px;
}

#round-text {
    width: 250px;
    height: 250px;
}