html {
    text-align: center;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    background-color: black;
}

.human {
    background-color: orange;
    width: 33.3%;
    padding-top: 33.3%;
    position: relative;
}

.results {
    background-color: aqua;
    width: 33.3%;
}

.computer {
    background-color: pink;
    width: 33.3%;
    padding-top: 33.3%;
    position: relative;
}

#round-text {
    height: 3rem;
    background-color: aquamarine;
}

#score {
    height: 3rem;
    background-color: blueviolet;
}

#human-current {
    border: solid 1px black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#comp-current {
    border: solid 1px black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.rock-img {
    background-image: url("images/rock.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.paper-img {
    background-image: url("images/paper.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.scissors-img {
    background-image: url("images/scissors.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.hidden {
    visibility: hidden;
}

.buttons {
    background-color: chartreuse;
}