html {
    text-align: center;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.human {
    background-color: orange;
    width: 50%;
    min-width: 320px;
}

.results {
    min-width: 320px;
}

.computer {
    background-color: pink;
    width: 50%;
    min-width: 320px;
}

#round-text {
    width: 100%;
    height: 3rem;
}

#score {
    width: 100%;
    height: 3rem;
}

#human-current {
    width: 250px;
    height: 250px;
    border: solid 1px black;
    margin: 0 auto;
}

#comp-current {
    width: 250px;
    height: 250px;
    border: solid 1px black;
    margin: 0 auto;
}

.rock-img {
    background-image: url("images/rock.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.paper-img {
    background-image: url("images/paper.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.scissors-img {
    background-image: url("images/scissors.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.hidden {
    visibility: hidden;
}